<h3>Now your result</h3>
​
​
<h3>Your word: <%= @input %><br>
Time Taken to answer: <%= @result[:time] %> secondes<br>
<!-- Translation: <%= @result[:translation] %><br>
Your score: <%= @result[:score] %><br>
Message: <%= @result[:message] %></h3> -->
